.idea
.pytest_cache
.ipynb_checkpoints
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# logging
logs/
*wandb/

# PyTorch models
*.pytorch

# Python packages
pytorch3dunet.egg-info/
dist/
build/